.Main {
    background-color: red;
    .exportImageContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .imgLogo {
            width: 20px;
            height: 20px;
        }
        .textLogo {
    
        }
    }
}