@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    // width: 100%;
    max-width: 500px;
    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
    }
    .borderContainer {
        border-radius: 5px;
        overflow: hidden;
        // min-width: 300px;
        width: 100%;
        max-width: 100vw;
        margin-top: 20px;
    }
    .exportImageContainer {
        padding: 0 20px;
        background-color: black;
        // width: 100%;
        overflow: auto;
        .imageContainer {
            padding: 40px 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // width: 100%;
            .imgContainer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0 15px;
            }

            .divider {
                border-left-width: 1px;
                border-left-color: #fff;
                padding: 0 10px;
            }
            .textLogo {
                color: #fff;
                // text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                letter-spacing: 2px;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                justify-content: center;
                // align-items: center;
                // font-size: 22px;
            }
        }
    }
    .exportButtonContainer {
        width: 100%;
        text-align: center;
        background-color: teal;
        // border-radius: 5px;
        overflow: hidden;
        span {
            padding: 10px;
            color: white;
            display: block;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                background-color: rgb(1, 82, 82);
                transition: 0.3s;
                // border-radius: 5px;
            }
        }
    }
    .inputContainer {
        background-color: black;
        input {
            background-color: rgb(61, 61, 61);
            border: none;
            width: 100%;
            height: 65px;
            // border-radius: 30px;
            color: white;
            text-align: center;
            font-size: 15px;
        }
    }
    textarea:focus, input:focus{
        outline: none;
    }
    .iconContainer {
        background-color: rgb(114, 113, 113);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        div {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px 0;
        }
        .imgIcon {
            width: 15px;
            height: 15px;
        }
        .active {
            background-color: teal;
        }
    }
    .optionContainer {
        background-color: #fff;
        margin-bottom: 15px;
        p {
            font-size: 12px;
            padding-left: 3px;
        }


        /* The slider itself */
        .slider {
            -webkit-appearance: none;  /* Override default CSS styles */
            appearance: none;
            width: 100%; /* Full-width */
            height: 20px; /* Specified height */
            background: #d3d3d3; /* Grey background */
            outline: none; /* Remove outline */
            opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
            -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            transition: opacity .2s;
        }
        
        /* Mouse-over effects */
        .slider:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }
        
        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 20px; /* Set a specific slider handle width */
            height: 20px; /* Slider handle height */
            background: teal; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }
        
        .slider::-moz-range-thumb {
            width: 20px; /* Set a specific slider handle width */
            height: 20px; /* Slider handle height */
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }
    }

    .copyrightContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
            font-size: 13px;
            span {
                font-weight: 600;
            }
            a {
                color: teal
            }
        }
        a {
            text-align: center;
            font-size: 12px;
        }
    }
}